@media screen and (max-width: 400px) {
	#nav-space{
		height: 10vh;
	}

	.jumbotron > h1{
	font-size: 55px;
	}

	.jumbotron > div> h2{
	font-size: 30px;
	}

	#first-page{
		height: 84vh;
	}


}


@media screen and (max-width: 550px) {
	#nav-space{
		height: 12vh;
	}

	.jumbotron > h1{
	font-size: 57px;
	}

	.jumbotron > div> h2{
	font-size: 32px;
	}

	#first-page{
		height: 84vh;
	}

}