h1{
	font-size: 5em;
}

h2{
	font-size: 1.75em;
}

h3{
	font-size: 2.25em;
	line-height: 1.125em;
}

p{
	font-size: 1em;
}

.panel{
	height: 100vh;
	border-radius: 0;
	margin: 0;
}

#left-panel{
	background-color: #F3F3F3;
	padding: 0 auto;
}

#right-panel{
	background-color: #1565C0;
	padding: 0 auto;
}

#title{
	color: #1565C0;
	text-align: center;
}

#contact{
	color: #FFF;
	text-align: center;
}

.regular-text{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.code-text{
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
}

.bold{
	font-weight: 500;
}

#terminal-window{
	padding: 10px;
}

#status-bar{
	background-color: #cacaca;
	height: 3vh;
	margin: 0;
	padding: 1vh;
	min-height: 20px;
}

#window{
	background-color: #4a4a4a;
	margin: 0;
	padding: 10px;
}

#terminal-text{
	color: #FFF;
}

.circle{
	width: 1.25vh;
	height: 1.25vh;
	-webkit-border-radius: 0.625vh;
	-moz-border-radius: 0.625vh;
	border-radius: 0.625vh;
	background-color: red;
	float: left;
	margin-right: 0.625vh;
	min-width: 10px;
	min-height: 10px;
}

#red{
	background-color:#f64500;
}
#yellow{
	background-color:#ebc71f;
}
#green{
	background-color:#31bb37;
}

.character-slug{
	color: #F50057;
	text-align: center;
}

#right-panel > .contact-button{
	background-color: #f3f3f3;
	padding:0 auto;
	margin-top: 2.5vh;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

#right-panel > .contact-button:hover{
	background-color: #dadada;
}

.contact-wrapper{
	display:table;
	padding: 2vh 0;
	margin: 0 auto;

}

.contact-text{
	float: left;
	margin-right: 1vw;
	color: #ff4081;
}

.contact-icon{
	float: right;
	margin: auto 1vw;
	color: #ff4081;
	vertical-align: middle;
}
